[submodule "third_party/npoi"]
	path = third_party/npoi
	url = https://github.com/yoavarad/npoi.git
[submodule "third_party/b2xtranslator"]
	path = third_party/b2xtranslator
	url = https://github.com/yoavarad/b2xtranslator.git
	branch = net8-xls-retarget
